.logo{
    width: 80px;
    height: 60px;
}

.fondoHeader{
    background-color: greenyellow;
}

a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    
}

.botonMio{
    background-color: aquamarine;
}

.botonMio:hover{
    background-color: lightblue;
    border: 1px solid black;
}

.redes{
    border: 30px;
    height: 30px;
    width: 40px;
    margin: 0px;
    padding: 0px;
}



h2{
    font-style: italic;
    text-align: center;
    color: black;
}

p{
    text-align: left;
    margin-left: 10%;
    margin-right: 50%;
    color: black;
}

.lorem{
    color: white;
}
.botones{
    border: none;
    width: 700px;
    height: 300px;
    border-radius: 4px;
    margin: auto;
}

.boton{
    background-color: rgb(22, 182, 22);
    height: 90px;
    width: 150px;
    border: 1px white;
    border-radius: 4px;
}

.boton p{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 10%;
    animation-name: texto;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes texto{
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


.noticias{
    text-align: left;
    text-decoration: solid;
    font-weight: bold;
}

.col{
    padding: 15px;
}

.barra2{
    margin: 15px 20px;
    padding-inline-start: 5px;
}

h2{
    text-align: left;
}
.caja{
    border: none;
    width: 900px;
    height: 350px;
    border-radius: 4px;
    margin: auto;
}

.caja p{
    text-align: left;
    margin-left: 3%;
    margin-right: 50%;
}

.botonjugar{
    background-color: rgb(22, 182, 22);
    height: 90px;
    width: 150px;
    border: 1px white;
    border-radius: 4px
    
}

.botonjugar p{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 10%;
}

.play{
    position: absolute;
    bottom: 470px;
    right: 500px;
}

.categoria li{
    list-style-type: circle;
    display: list-item;
}

.tematica{
    position: absolute;
    bottom: 125px;
    right: 950px;
}

.tematicas{
    position: absolute;
    bottom: -31px;
    right: 820px;
}

.asistencia{
    position: absolute;
    bottom: 125px;
    right: 650px;
}

.asistencias{
    position: absolute;
    bottom: -31px;
    right: 630px;
}

.news img{
    width: 236px;
    height: 200px;
}

.aviso{
    text-align: left;
    text-decoration: solid;
    margin-left: 2%;
}

.oferta{
    width: 450px;
    height: 350px;
}

.ofertazo{
    width: 350px;
    height: 250px;
}

.fondoFooter{
    background-color: rgb(16, 178, 184);
}

.nuevo{
    display: flex;
    flex-direction: row;
}

.nuevoJuego{
    width: 350px;
    height: 250px;
    margin: 10px;
}

.oferta{
    transition: height 0.5s ease 0s, width 0.7s ease 0s;
}

.oferta:hover{
    height: 506px;
    width: 550px;
}